body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #313237ff;
  color: white;
}

nav {
  background-color: #34353aff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
li {
  position: relative;
}
a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: background-color 0.3s;
}
a:hover {
  background-color: #353537;
}
@media (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: white;
}

section {
  padding: 2rem;
  text-align: center;
}

#name {
  color: #eabc72ff;
}

footer {
  text-align: center;
  background-color: #34353aff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #eabc72ff;
}

/* Proyectos */
.project {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
  color: #eabc72ff;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  .project {
    margin: 1rem;
    color: #eabc72ff;
  }
}

#projects a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
}

#projects a:hover {
  color: #eabc72ff;
}
footer a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #9a9b9cff;
}

nav ul li a:hover {
  color: #eabc72ff;
}

.habilidades {
  list-style: none;
  padding: 0;
  text-align: center;
  color: #eabc72ff;
}

img {
  max-width: 100%;
  height: auto;
}
